
<div class="well">
  <%= form_for PdfFile.new, html: { multipart: true } do |f| %>
    <%= f.label :file_name %>
    <%= f.text_field :name %>
    <%= f.label :attachment %>
    <%= f.file_field :attachment %>
    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>
